#header{
    text-align: left;
}
#body{
    background-color: #353b48;
    color: orange;
    text-align: center;
    
}
#submit{
    color: orange;
    background-color: yellowgreen;
    border-radius: 10px;
    width: 180px;
    display: inline-block;
    margin: 20px;
    padding: 20px 0 px;
    text-align: center;
    font-family: Arial;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    position: relative;
    text-decoration: none;
    letter-spacing: 1.5px;
}
#f{
    margin: 20px ;
}
#s{
    margin: 20px;
}
#six{
    margin: 20px;
}